.aboutPage {
  height: 100vh;
  // width: 100%;
}

.aboutPageBox {
  margin-top: 50px;
  margin-bottom: 100px;

}

.aboutParagraph {
  font-size: 15px;
  height: 400px;
  padding-top: 55px;
  padding-left: 8px;
  color: #d59b84;
}

.aboutPageImage {
  width: 400px;
  height: 400px;
  margin-left: -15px;
}

.fa-quote-right {
  padding-bottom: 10px;
  color: #f5f5f5;
}
