.contactPage {
  height: 100vh;
  // width: 100%;
}

.textContact {
  // border: 1px solid red;
  text-align: center;
  color: #d59b84;
  padding-top: 16px;
  padding-bottom: 25px;
}

#contact {
  margin: 20px 10px;
  // margin-left: 10px;
  // margin-right: 10px;
}
