.nav {
  transform: rotate(-90deg);
  position: absolute;
  margin-top: 27%;
  margin-left: -22%;
  height: 10px;
  position: fixed;
}
//
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
}
//
li {
  display: inline;
  padding: 8px;
}

.nav>li>a:hover {
    text-decoration: none;
    background-color: #ead8cc;
}

.nav>li>a:visited {
    text-decoration: none;
    background-color: #ead8cc;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

a:focus, a:hover {
    color: #696a6d;
    text-decoration: underline;
}

@media (min-width: 576px) and (max-width: 767px) {
  .nav {
    margin-top: 30%;
    margin-left: -17%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav {
    margin-top: 100%;
    margin-left: -28%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
 .nav {
   margin-top: 108%;
   margin-left: -20%;
 }
}
