.skillsPage {
  height: 100vh;
  // width: 100%;
}

i {
  color: #d59b84;
  font-size: 60px;
}

.textSkills {
  display: flex;
  justify-content: space-between;
  padding-top: 19px;
  padding-bottom: 19px;
}
